.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1.5em;
  font-size: 0.9em;
  margin: 0 auto;
  white-space: nowrap;
  height: 100vh;
}

h1 {
  color: rgb(163, 163, 163);
  font-size: 10vh;
  margin-bottom: 0.1em;
  font-weight: 700;
  font-family: 'Sarpanch', sans-serif;
}

.hide-restart {
  display: none;
}

#restart-btn {
  border: 1px solid white;
  margin-bottom: 2em;
  padding: 1em 1.5em;
  border-radius: 10px;
  background-color: transparent;
}

#restart-btn:hover {
  background-color: white;
  color: rgb(12, 37, 122);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .app {
    height: 100%;
  }

  h1 {
    font-size: 12vw;
  }
}

@media screen and (max-width: 767px) {
  .app {
    font-size: 0.7em;
  }
}