.board {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
}

.board-element {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allowed {
  background-color: green;
}

.not-allowed {
  background-color: red;
}