.dialog-box {
  border: 1px solid white;
  margin-bottom: 2em;
  padding: 1.5em;
  border-radius: 10px;
  width: 70%;
  text-align: center;
}

.dialog-box p {
  animation: type 3s steps(60, end);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: .10em;
}

@keyframes type {
  from { width: 0 }
  to { width: 100% }
}