.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.grid-container {
  flex-basis: 40%;
}

.grid-container h2 {
  margin-bottom: 0.5em;
  font-size: 3vw;
}

/* tablet display */
@media (max-width: 1023px) {
  .main {
    flex-direction: column;
    gap: 70px;
  }

  .grid-container h2 {
    font-size: 3.5vw;
  }

  #enemy {
    order: 1;
  }

  #friendly {
    order: 2;
  }
}