.setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vh;
}

.axis-selection {
  border: 1px solid white;
  max-width: fit-content;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.axis-selection:hover {
  background-color: rgb(255, 255, 255, 0.5);
  cursor: pointer;
}

/* mobile display */
@media screen and (max-width: 767px) {
  .setup {
    width: 85%;
  }
}
